* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(185, 185, 185);
}

#seite {
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
	border-radius: 1em;
}

div {
	/* border: 1px solid black; */
	/* margin: 2px; */
	background-color: white;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #b0e3f8;
	border-radius: 1em;
}

header a img {
	width: 50px;
	height: 50px;
}

header a {
	margin: 10px 0;
	display: flex;
}

header p#text {
	font-family: Arial, Helvetica, sans-serif;
}

#nav {
	border-bottom: 2px solid black;
}

#main-text {
	text-align: justify;
}

#main-title {
	font-size: large;
	font-weight: bold;
	text-decoration: underline;
	/* padding-top: 10px; */
	padding-bottom: 10px;
}

div ul#menu-ul {
	list-style: none;
	display: inline;
}

div ul#menu-ul li.menu-li {
	display: inline-block;
	margin: 0 10px;
	width: 50px;
	height: 30px;
	position: relative;
	/* text-decoration: none; */
}

div ul#menu-ul li.menu-li a.menu-li-a {
	text-decoration: none;
	color: blue;
	display: block;
	width: 50px;
	height: 30px;
	line-height: 30px;
}

div ul#menu-ul li.menu-li a.menu-li-a:hover,
div ul#menu-ul li.menu-li a.menu-li-a:focus {
	color: red;
	font-weight: bolder;
}

div ul li div {
	display: none;
}
div ul li div a {
	text-decoration: none;
	line-height: 30px;
}

#portrait {
	padding-left: 10px;
}

div#news {
	float: left;
	width: 300px;
	height: max-content;
	margin-right: 20px;
}

div#news div.news {
	margin: 40px 0;
	border: 2px solid black;
	border-radius: 1em;
}

.news-title {
	font-size: large;
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 10px;
}

.news-text {
	font-size: smaller;
	text-align: justify;
	padding: 0 10px;
}

div img#portrait {
	margin: 5px;
	height: 300px;
	float: right;
}

#name-footer {
	margin-top: 5px;
	border: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
	line-height: 60px;
	background: #6cf;
}

footer {
	border-top: 2px solid black;
}
