body {
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: lightblue;
}

#seite {
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
}

div {
	border: 1px solid black;
	margin: 2px;
	background-color: white;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header a img {
	width: 50px;
	height: 50px;
}

header a {
	margin: 10px 0;
	display: flex;
}

header p#text {
	font-family: Arial, Helvetica, sans-serif;
}

div ul#menu-ul {
	list-style: none;
	display: inline;
}

div ul#menu-ul li.menu-li {
	display: inline-block;
	margin: 0 10px;
	width: 50px;
	height: 30px;
	position: relative;
	/* text-decoration: none; */
}

div ul#menu-ul li.menu-li a.menu-li-a {
	text-decoration: none;
	color: blue;
	display: block;
	width: 50px;
	height: 30px;
	line-height: 30px;
}

div ul#menu-ul li.menu-li a.menu-li-a:hover,
div ul#menu-ul li.menu-li a.menu-li-a:focus {
	color: red;
}

div ul li div {
	display: none;
}
div ul li div a {
	text-decoration: none;
	line-height: 30px;
}

div ul li div a:hover,
div ul li div a:focus {
	color: red;
}

div ul li:hover div {
	display: block;
	position: absolute;
	width: 70px;
	height: 30px;
	top: 22px;
	left: -12.5px;
}

div#news {
	float: left;
	width: 200px;
	height: 500px;
}

div#news div.news {
	margin: 40px 0;
}

div img#portrait {
	margin: 5px;
	height: 300px;
	float: right;
}

#name-footer {
	margin-top: 5px;
	border: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
	line-height: 60px;
	background: #6cf;
}
