#box1:hover {
    background-color: yellow;
    border: 2px dotted black;
}

#box2:hover {
    background-color: yellow;
    border: 2px dotted black;
}

#box3:hover {
    background-color: yellow;
    border: 2px dotted black;
}

.box {
    display: flex;
	border: 2px solid black;
    width: 100px;
    background-color: lightgreen;
    justify-content: center;
}

.box a {
    text-decoration: none;
    color: black;
}

.box a:hover {
    color: hsl(0, 20%, 30%);
}