div {
  border: 1px solid black;
  width: 200px;
  height: 150px;
  margin: 20px;
  padding: 5px;
}

#b1 {
    float: left;
}

#b2 {
    float: right;
}

#b3 {
    clear: both;
}

#b4 {
    clear: both;
}