* {
    margin: 0;
    padding: 0;
}

div {
  border: 1px solid black;
  width: 200px;
  height: 150px;
}

#b1 {
    width: auto;
    margin: 2%;
}

#b2 {
    float: left;
    height: 500px;
    margin-left: 2%;
    width: 30%;
}

#p {
    float: right;
    width: 64%;
    height: auto;
    margin-right: 2%;
}

#b3 {
    float: left;
    width: auto;
}

#b4 {
    clear: both;
    float: left;
    width: auto;
    height: 250px;
}

#p2 {
    float: left;
    width: 45%;
    height: auto;
}

#b5 {
    float: right;
    width: 45%;
    height: fit;
}