.box {
	display: flex;
	border: 2px solid black;
	width: 100px;
	background-color: lightgreen;
	justify-content: center;
	margin-bottom: 0.4px;
}

.box:hover {
	background-color: yellow;
	border: 2px dotted black;
}

.box a {
	text-decoration: none;
	color: black;
}

.box a:hover {
	color: hsl(0, 20%, 30%);
}
