div {
	border: 2px solid blue;
    border-radius: 2px;
}

#box0 {
	width: 800px;
	height: 500px;
}

#box1 {
	float: left;
	width: 200px;
	height: 125px;
	margin: 10px 10px;
}

#box2 {
	float: right;
	width: 200px;
	height: 125px;
	margin: 10px 10px;
}

#box3 {
	clear: both;
	float: left;
	margin-top: 20px;
	margin-left: 200px;
	width: 150px;
	height: 200px;
}

#box4 {
	float: left;
	height: 100px;
	width: 150px;
	margin-top: 60px;
	margin-left: 20px;
}

#inbox1 {
	float: right;
	width: 110px;
	height: 80px;
	margin: 5px 10px;
}

#inbox2 {
	width: 110px;
	height: 80px;
	margin-top: 35px;
	margin-left: 10px;
}

#inbox3 {
    width: 50%;
    height: 50%;
    margin: 10% 25%;
}
