* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
  }

  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo img {
    height: 50px;
  }

  .navbar .menu li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 15px;
  }

  .navbar .menu li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }

.sw {
    padding-top: 100px;
}

