body {
    width: 800px;
}

div {
    border: 1px solid black;
}

#box1 {
    width: 200px;
    height: 100px;
}

#box2 {
    /* padding: 20px; */
    width: 400px;
    height: 300px;
    float: right;
    margin: 10px;

}

#box3 {
    float: right;
    margin-top: 230px;
    margin-right: 10px;
    width: 100px;
    height: 60px;
}

#box4 {
    width: 150px;
    height: 100px;
    float: left;
    margin-top: 40%;
    margin-left: 10%;
}